/* BEGIN BODY */
html, body {
    margin: 0px;
    padding: 0px;
    background-image: url('../img/bg.jpg') !important;
    /* background-size: cover !important;
    background-repeat: no-repeat !important;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/bg.jpg") !important;  */
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/bg.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    min-height: 100vh;
}
/* EINDE BODY */

/* BEGIN NAVBAR */
.navbar {
    background-color: #003581 !important;
}

.navbar-default .navbar-brand {
    color: #ffffff !important;
}

.navbar-default .navbar-nav>li>a {
     color: #ffffff !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #003581 !important;
}

.navbar-default .navbar-toggle {
    border: none !important;
}
/* EINDE NAVBAR */

.text-white {
    color: #ffffff !important;
}

/* BEGIN FOOTER */
.mail_alfa {
    color: #ffffff !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: #003581 !important;
    color: #ffffff !important;
    text-align: center;
}
/* EINDE FOOTER */