.mainColor{
    background-color: #003581;
}

.logForm{
    width: 250px;
    height: 275px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 100px;
    padding-top: 25px;
}

.horizontalCentre{
    margin-left: auto;
    margin-right: auto;
}

.vakCell{
    width: 10%;
}

.cijferInfo{
    display: none;
    width: 25px;
    height: 25px;
}

.cijferCell:hover .cijferInfo{
    display: block;
    cursor: pointer;
}